obj/*
!/obj/Graphite
/obj/Graphite/*
!/obj/Graphite/.gitkeep
output/*
dep/*
!/dep/Graphite
/dep/Graphite/*
!/dep/Graphite/.gitkeep
bin/*
cmd/*
env.sh
run_script.sh
ppin/acqrel/obj
ppin/acqrel/dep
ppin/acqrel/bin

pbench/syncbench/bin
