obj/*
!/obj/Graphite
/obj/Graphite/*
!/obj/Graphite/.gitkeep
output/*
dep/*
!/dep/Graphite
/dep/Graphite/*
!/dep/Graphite/.gitkeep
bin/*
cmd/*

run_script.sh
ppin/acqrel/obj
ppin/acqrel/dep
ppin/acqrel/bin

pbench/syncbench/bin
pbench/syncbench/build/

ppin/acqrel/bin
ppin/acqrel/dep
ppin/acqrel/obj
ppin/acqrel/bin/acqrel.so
ppin/acqrel/dep/acqrel.d
ppin/acqrel/obj/acqrel.o

run_script.sh
xml/config.xml
